<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title data-th-text="${loggedInUser.name}+' | SCM'">Dashboard Page</title>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
	<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
	<div id="content">

		<!-- if user is logged in : sidebar -->
		<div th:if="${loggedInUser}">
			<div th:replace="~{User/sidebar::sidebar}"></div>
		</div>

		<div class="sm:pl-64 pt-20 " style="height: 1000px;">
			<div class="flex justify-center flex-col items-center">
				<h1 class="text-5xl">
					Welcome to Dashboard page
				</h1>
				<p>Lorem ipsum, dolor recusandae, eos doloremque voluptas placeat sed? Maxime non magnam iusto ipsum!</p>
			</div>
		</div>
	</div>

	<script>
		console.log("Dashboard page");
	</script>
</body>
</html>