<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12 mt-2">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 border-t-[10px] border-sky-400 bg-white rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-sky-400 dark:hover:bg-gray-700"
          >

		  <!-- message here -->
		   <div th:replace="~{message::messagebox}">

		   </div>

            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white "
            >
              Signup Here
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-400">
              Start Managing Contacts on cloud
            </p>

			<!-- Signup form -->
            <form 
			data-th-action="@{'/do-register'}" 
			method="post"
			data-th-object="${userForm}"
			class="mt-5" 
      novalidate
      >
              <!-- name -->
              <div class="mb-3">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
				  data-th-field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Your name"
                  required
                />

                <p
                th:if="${#fields.hasErrors('name')}" 
                th:errors="*{name}"
                 class="text-red-600 px-1 py-2"></p>
              </div>

              <!-- email -->
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
				  data-th-field="*{email}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="name@flowbite.com"
                  required
                />
                <p
                th:if="${#fields.hasErrors('email')}" 
                th:errors="*{email}"
                 class="text-red-600 px-1 py-2">
                </p>
              </div>

              <!-- password -->
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
				  data-th-field="*{password}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder=""
                  required
                />
                <p
                th:if="${#fields.hasErrors('password')}" 
                th:errors="*{password}"
                 class="text-red-600 px-1 py-2">
                </p>
              </div>

              <!-- phone -->
              <div class="mb-3">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Number</label
                >
                <input
                  type="text"
                  id="phone"
				  data-th-field="*{phoneNumber}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder=""
                  required
                />
                <p
                th:if="${#fields.hasErrors('phoneNumber')}" 
                th:errors="*{phoneNumber}"
                 class="text-red-600 px-1 py-2">
                </p>
              </div>

              <!-- about -->

              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write somthing about yourself</label
                >
                <textarea
                  id="about"
                  rows="4"
				  data-th-field="*{about}"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>
                <p
                th:if="${#fields.hasErrors('about')}" 
                th:errors="*{about}"
                 class="text-red-600 px-1 py-2">
                </p>
              </div>

			  <!-- button -->

			  <div class="mb-3 flex justify-center space-x-3">
				<button type="submit" class="px-3 py-2 rounded bg-gray-700 hover:bg-gray-900 text-white text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
					Signup
				</button>
				<button type="reset" class="px-3 py-2 rounded bg-orange-700 hover:bg-orange-900 text-white text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
					Reset
				</button>
			  </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      console.log("Signup page");
    </script>
  </body>
</html>
